---
import type { LatestExamsQueryResult } from '@/types/sanity.types';

interface Props {
    exam: NonNullable<LatestExamsQueryResult>[number];
}

const { exam } = Astro.props;
---

<div class="card bg-base-100">
    <div class="card-body p-4">
        <h3 class="card-title text-lg">
            {exam.level}
            {exam.year}
            {exam.session}
        </h3>

        <div class="card-actions justify-start mt-2">
            {
                exam.questions_url && (
                    <a
                        href={exam.questions_url}
                        class="btn btn-primary btn-sm"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Užduotys
                    </a>
                )
            }

            {
                exam.answers_url && (
                    <a
                        href={exam.answers_url}
                        class="btn btn-accent btn-sm"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        Atsakymai
                    </a>
                )
            }
        </div>
    </div>
</div>
